@page "/projects"
@using ClassLibrary.Models
@inject ILogger<Projects> Logger
@attribute [StreamRendering]

<PageTitle>Project</PageTitle>

<h1>Projects</h1>
<button @onclick="ButtonClick">Button</button>

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Desctiption</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projects)
            {
                <tr>
                    <td>@project.id</td>
                    <td>@project.name</td>
                    <td>@project.type.Name</td>
                    <td>@project.description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Project[]? projects;

    protected override async Task OnInitializedAsync()
    {
        FetchData();
    }
    private async Task FetchData()
    {
        Logger.LogWarning("test");
        try
        {
            HttpClient httpClient = new HttpClient();
            HttpResponseMessage response = await httpClient.GetAsync("http://localhost:5005/api/Project");
            if (response.IsSuccessStatusCode)
            {
                projects = await response.Content.ReadFromJsonAsync<Project[]>();
                Logger.LogWarning("Succesful api reguest!");
            }
            else
            {
                Logger.LogWarning("Unsuccesful api reguest!");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            Logger.LogWarning("api failed: "+ex.Message);
        }
    }


    private void ButtonClick()
    {
        Logger.LogWarning("Someone has clicked me!");
    }
}